.Navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    padding-right: 60px;

}

.iniLinks{
    padding: 6px;
    color:beige;
    font-weight: bold;
}

.iniLinks:hover{
    color: black;
}